.card {
	border: 1px solid #999;
	width: 6.35em;
	height: 8.89em;
	margin-left: -2.5em;
	background: $off-white;
}

.card:nth-child(1) {
	@extend .card;
	margin-left: 0;
}

.card--show {
	display: flex;
	flex-direction: column;
}

.card-top {
	margin: 0.4em;
}

.card-main {
	font-size: 2.5em;
	display: flex;
	justify-content: center;
}
