.page-header {
	background: $off-white;
	padding: $l-size 0;
	margin-bottom: $l-size;
}

.page-header__actions {
	margin-top: -$s-size;
	display: flex;
	justify-content: space-around;
	border: 1px solid darken($off-white, 7%);
	padding: 2em;
	flex-direction: column;
}

.page-header__actions-title {
	margin-top: -5rem;
	text-align: center;
	width: auto;
}

.page-header__action-items {
	@extend .page-header__actions;
	border: unset;
	flex-direction: row;
	padding: 2rem 0rem;
	width: 60rem;
}

.page-header__title {
	margin: $m-size 0 $l-size 0;
	font-weight: 300;
	font-size: $s-font-size;
	span {
		font-weight: 700;
		font-size: $l-font-size;
	}
}
